:root {
  --primary-color: #133c68; /* Blackish-Blue color */
}

body {
  overflow-x: hidden; /* Prevent horizontal overflow */
  font-family: "Calibri", "Nunito Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.ant-select-item-option-selected {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.ant-table-body {
  overflow-y: hidden !important;
}

.ant-table-body:hover {
  overflow-y: scroll !important;
}

.ant-collapse-header-text {
  color: white;
}

.how-to-use-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.instruction-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
  text-align: center;
  list-style-type: disc;
}

.scorecard-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.instruction-list {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.collapse-panel {
  background-color: #ffffff;
  border-radius: 4px;
}

.collapse-panel .ant-collapse-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1d3557;
}
.ant-collapse-arrow {
  color: white !important;
}

.ant-collapse-header {
  background-color: var(--primary-color);
}

.collapse-panel .ant-collapse-content-box {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.ant-collapse {
  border: none;
  padding: 0 !important;
}

.ant-collapse-content-box {
  border: 4px solid var(--primary-color);
  margin: 1rem;
}

.card-hover {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
